:root {
    --header-bgcolor: rgb(249, 249, 249);
    --header-color2: rgb(247, 247, 247);
    --input-bgcolor: rgb(232, 232, 234);
    --body-bgcolor2: rgb(239, 239, 239);
    --body-bgcolor: rgb(242, 242, 242);
    --icon-disabled-color: rgb(168, 168, 168);
    --red: rgb(255, 59, 48);
    --orange: rgb(255, 149, 0);
    --yellow: rgb(255, 204, 0);
    --green: rgb(76, 217, 100);
    --blue: rgb(45, 142, 254);
    --purple: rgb(204, 115, 225);
    --grey: rgb(142, 142, 147);
    --border-color: rgb(214, 214, 214);
    --border-color-dark: rgb(169, 169, 169);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#root,
body,
html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

a,
input,
select,
textarea {
    outline: 0;
}
