button,
.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    background: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:not(:disabled):not(.disabled),
.button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.button-link {
    color: var(--blue);
}

.button-link.red {
    color: var(--red);
}

.button-link.orange {
    color: var(--orange);
}

.button-link.green {
    color: var(--green);
}

.button-outline {
    border: 1px solid var(--blue);
    color: var(--blue);
}

.button-outline.red {
    border: 1px solid var(--red);
    color: var(--red);
}

.button-outline.orange {
    border: 1px solid var(--orange);
    color: var(--orange);
}

.button-outline.green {
    border: 1px solid var(--green);
    color: var(--green);
}

.button-fill {
    border: 1px solid var(--blue);
    color: white;
    background-color: var(--blue);
}

.button-fill.red {
    border: 1px solid var(--red);
    background-color: var(--red);
}

.button-fill.orange {
    border: 1px solid var(--orange);
    background-color: var(--orange);
}

.button-fill.green {
    border: 1px solid var(--green);
    background-color: var(--green);
}

button.wide,
.button.wide {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button:active {
    background-color: var(--grey);
    color: white;
}