.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    background-color: var(--body-bgcolor);
}

.page-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.navbar~.page-content,
.navbar~:not(.no-navbar) .page-content {
    padding-top: 44px;
}

.page-previous {
    transform: translate3d(-20%, 0, 0);
    pointer-events: none;
}
